## Velocity treats double hashes as comments, which messes with markdown files. So $H can be used instead.
#set( $H = '#' )

Usage
-----

Add the plugin to your pom:

    <build>
        <plugins>
            <plugin>
                <groupId>${project.groupId}</groupId>
                <artifactId>${project.artifactId}</artifactId>
                <version>${project.version}</version>
                <configuration>
                    <releaseGoals>
                        <releaseGoal>deploy</releaseGoal>
                    </releaseGoals>
                </configuration>
            </plugin>
        </plugins>
    </build>

And then call the plugin:

	mvn releaser:release

You can also optionally supply your own build numbers if you do not want an automatically incrementing number:

    mvn releaser:release -DbuildNumber=1234

Running a partial release
-------------------------

It is possible to release a single module (and any modules it depends on) by using the `modulesToRelease` parameter.
For example:

	mvn releaser:release -DmodulesToRelease=MyApp

In this case the `MyApp` module will be built, released and tagged. If MyApp depends on another module, than that module will
also be built and released (but there will be no Git tag for this).

Note that this is not generally required as the plugin will only deploy changed modules by default anyway.

Forcing a release
-----------------
It is possible to force the release of one or more specified modules, for example if the changes have not been picked up due to some issue.
To do this, use the `forceRelease` parameter. For example:

	mvn releaser:release -DforceRelease=MyApp

In this case the `MyApp` module will be built, even if there where no changes found.

Specify custom global/user Maven settings for release build
-----------------------------------------------------------

Sometimes it's necessary to specify custom Maven settings for the release build. This can be done with the following
standard maven command line parameters:

	mvn releaser:release -s /path/to/custom/user/settings.xml -gs /path/to/custom/global/settings.xml

Authentication
------------------

Please see [SSH Authentication](ssh-authentication.html) or [HTTPS Authentication](https-authentication.html).

Resolve Snapshots
-----------------
If you depend on snapshot versions of other modules which are resolvable to a concrete version, you can enable that in
the plugin configuration

	<configuration>
        <resolveSnapshots>
            <resolveSnapshot>com.github.danielflower.mavenplugins.testprojects.independentversions:core-utils:2.0-SNAPSHOT</resolveSnapshot>
        </resolveSnapshots>
    </configuration>
